.env
.git
wpt/backend/vendor/*
wpt/backend/.php_cs.cache
wpt/backend/nodejs/node_modules/*
wpt/frontend/node_modules/*
wpt/frontend/build/*

wpt/backend/vendor
wpt/backend/.php_cs.cache
wpt/backend/nodejs/node_modules
wpt/frontend/node_modules
wpt/frontend/build
